{% extends 'base.html' %}
{% block style %}
  * {
    margin:0; padding:0;
  }
  ul {
    list-style:none;
  }
  a {
    text-decoration:none; color:inherit;
  }
  #tab ul { 
    white-space:nowrap; 
    overflow-x: auto; text-align:center
  }
  #tab ul li {
    display:inline-block; padding: 5px 10px; margin-right:10px;
  }
  
{% endblock style %}

  
{% block content %}
  <h1>MOVIE</h1>

  {% comment %} <div class="box">
    <div id="tab">
      <ul>
        <li class="on"><a href="#">tab1</a> </li>
        <li><a href="#">tab2</a></li>
        <li><a href="#">tab3</a></li>
        <li><a href="#">tab4</a></li>
        <li><a href="#">tab5</a></li>
        <li><a href="#">tab6</a></li>
        <li><a href="#">tab6</a></li>
        <li><a href="#">tab7</a></li>
        <li><a href="#">tab8</a></li>
        <li><a href="#">tab9</a></li>
        <li><a href="#">tab10</a></li>
      </ul>
    </div>
  </div> {% endcomment %}
  <h1>추천 영화</h1>
  <div id="tab">
    <ul id="recommended">
      
    </ul>
  </div> 
  <hr>

  <h1>취향 맞는 영화(가제)</h1>
  {{ pickedmovies }}
  <div id="tab">
    <ul>
      {% for movie in movies %}    
        <li>
          {% comment %} <h1>{{ movie.title }}</h1> {% endcomment %}
          <a href="{% url 'movies:detail' movie.pk %}">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="">
          </a>
          {% comment %} <p>{{ movie.overview }}</p> {% endcomment %}
        </li>
      {% endfor %}
    </ul>
  </div> 
  <hr>

  <h1>모든 영화</h1>
  <div id="tab">
    <ul>
      {% for movie in movies %}    
        <li>
          {% comment %} <h1>{{ movie.title }}</h1> {% endcomment %}
          <a href="{% url 'movies:detail' movie.pk %}">
            <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="">
          </a>
          {% comment %} <p>{{ movie.overview }}</p> {% endcomment %}
        </li>
      {% endfor %}
    </ul>
  </div> 
  <hr>

  {% comment %} {% for movie in movies %}
    <div class="movie">  
      <h1>{{ movie.title }}</h1>
      <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="">
      <a href="{% url 'movies:detail' movie.pk %}">DETAIL</a>
      <p>{{ movie.overview }}</p>
      <hr>
    </div>
  {% endfor %} {% endcomment %}
  
{% endblock content %}


{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    
    const key = "e67fd4cae34071117f73a8090324311b";

    const fetchTrending = async() => {
      const url = "https://api.themoviedb.org/3/trending/all/week?api_key=" + key + "&language=ko-KR"
      const response = await axios.get(url);
      const recUlTag = document.querySelector('#recommended')

      for(let i=0; i<10; i++) {  
        // console.log(response.data.results[i])
        newliTag = document.createElement('li')
        newaTag = document.createElement('a')
        newimgTag = document.createElement('img')

        imgLink = response.data.results[i].poster_path
        recMovieId = response.data.results[i].id
        
        // console.log(recMovieId)
        // console.log(imgLink)
        newimgTag.setAttribute('src', 'https://image.tmdb.org/t/p/w200'+imgLink)
        
        
        newaTag.appendChild(newimgTag)
        newliTag.appendChild(newaTag)
        recUlTag.appendChild(newliTag)
      }              
    }
    fetchTrending()

        
  </script>
{% endblock script %}