{% extends 'base.html' %}
{% block style %}
  body {
    margin:0 auto;
    height: 100vh;
    {% comment %} background: url("/media/—Pngtree—romantic cosmic background_1337153.png"); {% endcomment %}
  }
  {% comment %} * {
    margin:0; padding:0;
  } {% endcomment %}
  ul {
    list-style:none;
  }
  a {
    text-decoration:none; color:inherit;
  }
  #tab ul { 
    white-space:nowrap; 
    overflow-x: auto; text-align:center
  }
  #tab ul li {
    display:inline-block; padding: 2rem; margin-right:10px;
  }
  img {
    border-radius: 5%;
    overflow: hidden;
  }
  hr {
    border-top: 3px solid #918f87;
  }
  h1 {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    {% comment %} color: #f5f4f0; {% endcomment %}
    color: #ddeaeb;
    font-weight: bold;
    {% comment %} border-left: 5px solid #918f87; {% endcomment %}
    padding: 3px;
  }
{% endblock style %}

  
{% block content %}
{% comment %} <div class="position-relative">
  <img src="/media/—Pngtree—romantic cosmic background_1337153.png" alt="">
</div> {% endcomment %}
<div class="row px-5 justify-content-center">
  <div class="col-11">
    {% comment %} <h1>MOVIE</h1> {% endcomment %}
    <hr>
    <h1>POPULAR</h1>
    <div id="tab">
      <ul id="popular">
        
      </ul>
    </div> 
    <hr>

    <h1>{{ user }}님이 좋아요 한 영화</h1>
    <div id="tab">
      <ul>
        {% for pickedmovie in pickedmovies %}
          {% comment %} {% for genre in pickedmovie.genres.all %}
            {{ genre.name }}
          {% endfor %} {% endcomment %}
          <li>         
            <a href="{% url 'movies:detail' pickedmovie.movie_id %}">
              <img src="https://image.tmdb.org/t/p/w200{{ pickedmovie.poster_path }}" alt="" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div> 
    <hr>

    <h1>내가 좋아하는 장르 영화</h1>
    <div id="tab">
      <ul>
        {% for recommend in recommends %}
          <li>         
            <a href="{% url 'movies:detail' recommend.movie_id %}">
              <img src="https://image.tmdb.org/t/p/w200{{ recommend.poster_path }}" alt="" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div> 
    <hr>

    <h1>모든 영화</h1>
    <div id="tab">
      <ul>
        {% for movie in movies %}    
          <li>
            <a href="{% url 'movies:detail' movie.pk %}">
              <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div> 
    <hr>
  </div>
</div>
{% endblock content %}


{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>    
    const key = "e67fd4cae34071117f73a8090324311b";

    const fetchTrending = async() => {
      const url = "https://api.themoviedb.org/3/trending/all/week?api_key=" + key + "&language=ko-KR"
      const response = await axios.get(url);
      const recUlTag = document.querySelector('#popular')
      console.log(response.data)

      for(let i=0; i<12; i++) {  
        movieId = response.data.results[i].id
        const detail_url = "https://api.themoviedb.org/3/movie/" + movieId + "?api_key=" + key + "&language=ko-KR"
        const detail_response = await axios.get(detail_url)

        if (detail_response.data.title === response.data.results[i].title) {
          newliTag = document.createElement('li')
          newaTag = document.createElement('a')
          newimgTag = document.createElement('img')
  
          imgLink = response.data.results[i].poster_path
          recMovieId = response.data.results[i].id
          
          newimgTag.setAttribute('src', 'https://image.tmdb.org/t/p/w200'+imgLink)
          newimgTag.setAttribute('onmouseenter', 'zoomIn(event)')
          newimgTag.setAttribute('onmouseleave', 'zoomOut(event)')

          newaTag.setAttribute('href', `/movies/${ recMovieId }`)

          
          
          
          newaTag.appendChild(newimgTag)
          newliTag.appendChild(newaTag)
          recUlTag.appendChild(newliTag)
        }

      }              
    }

    fetchTrending()

    function zoomIn(event) {
      event.target.style.transform = "scale(1.2)";
      event.target.style.zIndex =1;
      event.target.style.transition = "all 0.5s";
    }

    function zoomOut(event) {
      event.target.style.transform = "scale(1)";
      event.target.style.zIndex =0;
      event.target.style.transition = "all 0.5s";
    }
  </script>
{% endblock script %}