{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center text-light mt-5 my-5">'{{ searched }}' 검색 결과</h2>
    <div class="container">
      <div class="row justify-content-center">
      {% comment %} </div>
      <div class="row"> {% endcomment %}
        {% for movie in movies %}
          <div class="col-3 m_container align-items-center py-3">
          {% comment %} 이미지hover시  {% endcomment %}
            <div class="container">
              {% if request.user in movie.like_users.all %}
                <img id="img-{{ movie.pk }}" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="#" class="transparent image img-fluid rounded m-auto">
              {% else %}
                <img id="img-{{ movie.pk }}" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="#" class="image img-fluid  rounded m-auto">
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock content %}