{% extends 'base.html' %}
{% load bootstrap5 %}
{% block style %}
  .m_container {
    position: relative;
  }
  .m_container:hover .image {
    opacity: 0.3;
  }

  .m_container:hover .middle {
    opacity: 1;
  }

  .image {
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container {
    overflow: hidden;
  }

  .container > img {
    width: 100%;
  }

  img {
    border-radius: 5%;
  }

  .floating {
    position: fixed; 
    right: 50%; 
    top: 180px; 
    margin-right: -720px;
    text-align:center;
    width: 120px;
  }

  .finBtn {
    position: absolute;
    top: 13%;
    right: 10%;
    color: #fffffff;
  }
  
  .container {
    position: relative;
    z-index: -1;
  }
{% endblock style %}
{% block content %}
    <h1 class="text-center text-light mt-5 my-5">Select Movies</h1>
    <div class="finBtn">
      <button class="btn btn-dark" type="button" onclick="location.href='{% url 'movies:index' %}'" class="my-3">End<br>Selection</button>
    </div>
    <div class="container">
      <div class="row justify-content-center">
      {% comment %} </div>
      <div class="row"> {% endcomment %}
        {% for movie in movies %}
          <div class="col-3 m_container align-items-center py-3">
          {% comment %} 이미지hover시  {% endcomment %}
            <div class="container">
              <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="#" class="image img-fluid rounded m-auto">
              <div class="middle">
                <form class="like-forms middle" data-movie-id="{{ movie.pk }}">
                  {% csrf_token %}
                  {% if request.user in movie.like_users.all %}
                  <input type="submit" value="좋아요 취소" id="like-{{ movie.pk }}">
                  {% else %}
                  <input type="submit" value="좋아요" id="like-{{ movie.pk }}">
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock content %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    // Jquery 사용 불가 시 변경
    // 기본 위치(top)값
    var floatPosition = parseInt($(".finBtn").css('top'))

    // scroll 인식
    $(window).scroll(function() {
      
      // 현재 스크롤 위치
      var currentTop = $(window).scrollTop();
      var bannerTop = currentTop + floatPosition + "px";

      //이동 애니메이션
      $(".finBtn").stop().animate({
        "top" : bannerTop
      }, 500);

    }).scroll();

    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const movieId = event.target.dataset.movieId

        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/movies/${movieId}/likes/`,
          headers: {'X-CSRFToken': csrftoken,},
        })
          .then((response) => {
          const isLiked = response.data.is_liked
          const likeBtn = document.querySelector(`#like-${movieId}`)
          if (isLiked === true) {
            likeBtn.value = '좋아요 취소'
          } else {
            likeBtn.value ='좋아요'
          }
          })
          .catch((error) => {
            console.log(error.response)
          })
      })
    })

  </script>
{% endblock script %}