{% extends 'base.html' %}
{% load bootstrap5 %}

{% block style %}
{% comment %} h2 {
  border-left:4px solid darkred;
} {% endcomment %}

.con_border {
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
}
.bg {
  background: linear-gradient(to top, rgba(9, 109, 156, 1), rgba(92, 111, 145, 1));

}
.gradient-custom {
  background: #84fab0;
  border: none;
  background: linear-gradient(to right, rgba(20, 33, 56, 0.5), rgba(20, 48, 56, 0.5))
  }
  #review {
    background-color: rgba(256, 256, 256, 0.2);
  }

{% endblock style %}
{% block content %}
  <h1 class="pt-3 text-light text-center">DETAIL</h1>
  
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <div class="my-2">
          <div id="review" class="p-4 rounded text-light">
            <div class="row d-flex p-3">
                <h2 class="col-7">{{ review.movie_title }} : {{ review.title }}</h2>
                <div class="col-5">
                  <p class="text-end m-0">작성 : {{ review.created_at }}</p>
                  <p class="text-end m-0">수정 : {{ review.updated_at }}</p>
                </div>
                <hr>
                <p class="text-light m-0">{{ review.content }}</p>
            </div>
            {% comment %} <p>평점 : {{ review.rank }}</p> {% endcomment %}

          {% if request.user == review.user %}
            <div class="row d-flex justify-content-center">
              <div class="col-2 d-flex justify-content-center">
                <a class="btn btn-dark opacity-75 text-light border border-light" href="{% url 'community:create' %}">게시글 수정</a>
              </div>
              <form class="col-2 d-flex justify-content-center" action="{% url 'community:delete' review.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-dark opacity-75 text-light border border-light" value="게시글 삭제">
              </form>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <div class="my-2">
          <h4 class="text-light mx-3 my-3">댓글</h4>
          <div id="review" class="p-4 rounded text-light">
            {% if comments|length %}
              <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
              <hr>
            {% endif %}

            {% for comment in comments %}
              <div class="row justify-content-center align-items-center">
                <span class="col-6">{{ comment.user }} - {{ comment.content }} </span>

                <span class="col-3">
                  <form class="like-forms" data-comment-id="{{ comment.pk }}">
                    {% csrf_token %}
                    <span id="likes-count-{{ comment.pk }}">{{ comment.like_users.all|length }} likes</span>
                    {% if user in comment.like_users.all %}
                      <button id="like-{{ comment.pk }}" class="btn btn-dark m-1">좋아요 취소</button>
                      {% else %}
                      <button id="like-{{ comment.pk }}" class="btn btn-dark m-1">좋아요</button>
                    {% endif %}
                  </form>
                </span>

                <span class="col-2">
                  <form action="{% url 'community:delete_comment' review.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger m-1" value="댓글 삭제">
                  </form>
                </span>
              </div>
              <hr>
            {% empty %}
              <p><b>댓글이 없어요..</b></p>
            {% endfor %}
                
            {% if user.is_authenticated %}
            <div class="d-flex justify-content-center">
              <form class="rounded" action="{% url 'community:create_comment' review.pk %}" method="POST">
                {% csrf_token %}
                {% comment %} {{ bootstrap_form form }} {% endcomment %}
                {{ comment_form }}
              <input class="btn btn-dark"type="submit">
              </form>
            </div>
            {% else %}
            <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
            {% endif %}
          </div>
        </div>
        </div>
      </div>
        </div>
      </div>

      <div class="row my-3">
        <a class="btn btn-dark " href="{% url 'community:index' %}">뒤로가기</a>
      </div>
    </div>

{% endblock  %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const commentId = event.target.dataset.commentId
        

        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/community/comments/like/${commentId}/`,
          headers: {'X-CSRFToken': csrftoken},
        })
        .then((response) => {
          const commentLiked = response.data.comment_liked
          const likeBtn = document.querySelector(`#like-${commentId}`)

          if (commentLiked === true) {
            likeBtn.innerText = '좋아요 취소'
          } else {
            likeBtn.innerText = '좋아요'
          }

          const likesCountTag = document.querySelector(`#likes-count-${commentId}`)
          const likesCount = response.data.comment_likes_count
          likesCountTag.innerText = likesCount + ' likes'
        })
        .catch((error) => {
          console.log(error.response)
        })
      })
    })
  </script>
{% endblock script %}