{% extends 'base.html' %}
{% load bootstrap5 %}

{% block style %}
h2 {
  border-left:4px solid darkred;
}
{% endblock style %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1 class="text-center my-3">DETAIL</h1>
    </div>
      {% comment %} <h3>{{ review.pk }} 번째 글</h3> {% endcomment %}
    <div class="row">
        <h2>제목: {{ review.title }}</h2>
    </div>
    <div class="row bg-secondary rounded p-3 mb-3">
      <h3>{{ review.movie_title }}</h3>
      <p>내용 : {{ review.content }}</p>
      <p>평점 : {{ review.rank }}</p>
      <p>작성 시각 : {{ review.created_at }}</p>
      <p>수정 시각 : {{ review.updated_at }}</p>
    </div>

    <h4>댓글</h4>
    <div class="row bg-secondary rounded p-3">
      {% if comments|length %}
        <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
      {% endif %}
      {% for comment in comments %}
        <div>
          <span>{{ comment.user }} - {{ comment.content }} </span>
          <span>
            <form class="like-forms" data-comment-id="{{ comment.pk }}">
              {% csrf_token %}
              {% if user in comment.like_users.all %}
                <button id="like-{{ comment.pk }}" class="btn btn-dark m-1">좋아요 취소</button>
              {% else %}
                <button id="like-{{ comment.pk }}" class="btn btn-dark m-1">좋아요</button>
              {% endif %}
            </form>
          </span>
          <span id="likes-count-{{ comment.pk }}">{{ comment.like_users.all|length }} likes</span>
    
          <hr class="color-dark">
        </div>
      {% empty %}
        <p><b>댓글이 없어요..</b></p>
      {% endfor %}

      {% if user.is_authenticated %}
        <form action="{% url 'community:create_comment' review.pk %}" method="POST">
          {% csrf_token %}
          {% comment %} {{ bootstrap_form form }} {% endcomment %}
          {{ comment_form }}
          <input class="btn btn-dark"type="submit">
        </form>
      {% else %}
        <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
      {% endif %}
      <div class="col">

      </div>
      <a href="{% url 'community:index' %}">[back]</a>
    </div>
  </div>
{% endblock  %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const commentId = event.target.dataset.commentId
        

        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/community/comments/like/${commentId}/`,
          headers: {'X-CSRFToken': csrftoken},
        })
        .then((response) => {
          const commentLiked = response.data.comment_liked
          const likeBtn = document.querySelector(`#like-${commentId}`)

          if (commentLiked === true) {
            likeBtn.innerText = '좋아요 취소'
          } else {
            likeBtn.innerText = '좋아요'
          }

          const likesCountTag = document.querySelector(`#likes-count-${commentId}`)
          const likesCount = response.data.comment_likes_count
          likesCountTag.innerText = likesCount + ' likes'
        })
        .catch((error) => {
          console.log(error.response)
        })
      })
    })
  </script>
{% endblock script %}