{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<section class="vh-100">
  <div class="mask d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="fw-bold text-dark text-uppercase text-center mb-5">게시글 수정</h2>
              <form class="text-dark"action="{% url 'community:edit' review.pk %}" method="POST">
              
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-uppercase mx-3">수정</button>
                  <a href="{% url 'community:detail' review.pk %}" class="btn btn-success btn-block btn-lg gradient-custom-4 text-uppercase mx-3">취소</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
