{% extends 'base.html' %}
{% block style %}
  body {
    margin-top: 3rem;
  }
  #review {
    background-color: rgba(256, 256, 256, 0.2);
  }
  a {
    text-decoration-line: none;
  }
 
  {% comment %} .g-height-50 {
    height: 50px;
  }

  .g-width-50 {
    width: 50px !important;
  } {% endcomment %}


  {% comment %} .g-bg-secondary {
    background-color: #fafafa !important;
    border-style: solid;
    border-color: white;
  } {% endcomment %}

  {% comment %} .u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
  } {% endcomment %}

  {% comment %} .g-color-gray-dark-v4 {
    color: #777 !important;
  } {% endcomment %}

  {% comment %} .g-font-size-12 {
    font-size: 0.85714rem !important;
  } {% endcomment %}

  {% comment %} #review {
    border: solid white 1px;
  } {% endcomment %}
  {% comment %} .media-comment {
    margin-top:20px
  } {% endcomment %}
{% endblock style %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<h1 class="my-3 text-center">Community</h1>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="offset-8 col-4 d-flex justify-content-center">
      <a class="btn btn-dark opacity-75 border border-light" href="{% url 'community:create' %}">게시글 작성</a>
    </div>
    {% for review in reviews %}
      <div class="col-10">
        <div class="media my-2">
          <div id="review" class="media-body p-4 rounded">
            <div class="row d-flex">
              <a class="col-4 m-0" href="{% url 'accounts:profile' review.user.username %}">
                <h6 class="m-0">{{ review.user }}</h6>
              </a>
              <h6 class="col-8 text-end m-0">{{ review.created_at }}</h6>
            </div>
            <hr>
            <h4 class="mx-3">[ {{ review.movie_title }} ] : {{ review.title }}</h3>
            <hr class="">
            <ul class="row px-3 d-flex align-items-center justify-content-center">
              {% comment %} <div class="col-1">
                <p><span id="likes-count-{{ review.pk }}">{{ review.like_users.all|length }} likes</span></p>
              </div> {% endcomment %}
              <div class="col-3 px-0">
                <form class="like-forms" data-review-id="{{ review.pk }}">
                  {% csrf_token %}
                  {% if user in review.like_users.all %}
                    <button id="likeBtn-{{ review.pk }}" class="btn btn-dark opacity-75 text-light border border-light">
                      <i id="like-{{ review.pk }}" class="fa-solid fa-thumbs-up"></i> <span id="likes-count-{{ review.pk }}">{{ review.like_users.all|length }} likes</span>
                    </button>
                  {% else %}
                    <button id="likeBtn-{{ review.pk }}" class="btn btn-dark opacity-75 text-light border border-light">
                      <i id="like-{{ review.pk }}" class="fa-regular fa-thumbs-up"></i> <span id="likes-count-{{ review.pk }}">{{ review.like_users.all|length }} likes</span>
                    </button>
                  {% endif %}
                </form>
              </div>
              <div class="col-9 px-0 text-end">
                <a class="btn btn-dark opacity-75 text-light border border-light" href="{% url 'community:detail' review.pk %}">
                  Detail <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3 opacity-50"></i>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% comment %} {% for review in reviews %}
    <p>작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
    <p>글 번호: {{ review.pk }}</p>
    <p>글 제목: {{ review.title }}</p>
    <p>글 내용: {{ review.content }}</p>
    <form class="like-forms" data-review-id="{{ review.pk }}">
      {% csrf_token %}
      {% if user in review.like_users.all %}
        <button id="like-{{ review.pk }}">좋아요 취소</button>
      {% else %}
        <button id="like-{{ review.pk }}">좋아요</button>
      {% endif %}
      <p>
        <span id="likes-count-{{ review.pk }}">{{ review.like_users.all|length }}</span> 명이 이 글을 좋아합니다.
      </p>
    </form>
    <a href="{% url 'community:detail' review.pk %}">[detail]</a>
    <hr>
  {% endfor %} {% endcomment %}
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const reviewId = event.target.dataset.reviewId

        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/community/${reviewId}/like/`,
          headers: {'X-CSRFToken': csrftoken},
        })
        .then((response) => {
          const isLiked = response.data.is_liked
          const likeiTag = document.querySelector(`#like-${reviewId}`)
          const likeBtn = document.querySelector(`#likeBtn-${reviewId}`)

          if (isLiked === true) {
            likeiTag.setAttribute('class', 'fa-solid fa-thumbs-up fa-border-0')
          } else {
            likeiTag.setAttribute('class', 'fa-regular fa-thumbs-up border-0')
          }

          const likesCountTag = document.querySelector(`#likes-count-${reviewId}`)
          const likesCount = response.data.likes_count
          likesCountTag.innerText = likesCount + ' likes'
        })
        .catch((error) => {
          console.log(error.response)
        })
      })
    })
  </script>
{% endblock script %}
