{% extends 'base.html' %}
{% load bootstrap5 %}
{% block style %}
  .gradient-custom {
    background: #6c7075;
    background: linear-gradient(to right, rgba(99, 129, 141, 1), rgba(142, 145, 148, 1));
    border: 0
  }
  h2 {
    color: black;
  }
  form {
    color: black;
  }
{% endblock style %}
{% block content %}
  <section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 ">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="fw-bold text-uppercase text-center mb-5">Password Change</h2>
                <form action="{% url 'accounts:change_password' %}" method="POST">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom text-uppercase">Change</button>
                  </div>
                  <p class="text-center text-muted mt-5 mb-0">Don't want it? <a href="{% url 'movies:index' %}"
                    class="fw-bold text-body"><u>Back to home</u></a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}