{% extends 'base.html' %}
{% load bootstrap5 %}
{% block style %}
  .gradient-custom {
    /* fallback for old browsers */
    background: #6c7075;
    
    {% comment %} /* Chrome 10-25, Safari 5.1-6 */ {% endcomment %}
    {% comment %} background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)); {% endcomment %}
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(99, 129, 141, 1), rgba(142, 145, 148, 1));

  border: 0
  }
  h2 {
    color: black;
  }
{% endblock style %}
{% block content %}
  <section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 ">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="fw-bold text-uppercase text-center mb-5">Log in</h2>
                <form action="{% url 'accounts:login' %}" method="POST">
                  
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% comment %} <button type="submit" class="btn btn-primary justify-content-center">가입</button> {% endcomment %}
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom text-uppercase">Login</button>
                    {% comment %} <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-uppercase">Register</button> {% endcomment %}
                  </div>
                  
                  <p class="text-center text-muted mt-5 mb-0">First time here? <a href="{% url 'accounts:signup' %}"
                    class="fw-bold text-body"><u>Signup here</u></a></p>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}