{% extends 'base.html' %}
{% load static %}

{% block style %}
  hr {
    height: 5px;
    background-color: white;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff;
  }
  #match_img {
    border-radius: 10%;
    height: 300px;
    object-fit: cover;
  }
  #text {
    word-wrap: break-word;
  }
  .m_img {
    filter: drop-shadow(5px 5px 5px #000);
  }
  .card {
    filter: drop-shadow(5px 5px 5px #000);
  }
  .match_card{
    background-image: linear-gradient(to top, rgba(229, 181, 235, 1), rgba(236, 225, 237, 1));
  }
  .hide {
    display: none;
  }
{% endblock style %}
{% block content %}
<div class="my-5 container">
  {% comment %} 개인 정보 {% endcomment %}
  <h2 class="pt-3 text-center">{{ person.username }}님의 프로필</h2>
  <div class="row justify-content-center align-items-center my-5 pb-3">
    <div class="col-4 my-3 d-flex justify-content-center">
      {% comment %} 프로필 이미지 {% endcomment %}
      <div class="row justify-content-center img">
        <img src="{{ person.profile.image.url }}" alt="">  
        {% if request.user != person %}
          <div>
            {% comment %} 이미지 변경 / 팔로우 언팔로우 {% endcomment %}
            <form action="{% url 'accounts:follow' person.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in person.followers.all %}
                <input class="offset-4 col-4 btn btn-secondary btn-sm my-3 text-light opacity-75" type="submit" value="언팔로우">
              {% else %}
                <input class="offset-4 col-4 btn btn-secondary btn-sm my-3 text-light opacity-75" type="submit" value="팔로우">
              {% endif %}
            </form>
          </div>
        {% else %}
          <a id="btn" class="col-6 btn btn-secondary btn-sm my-3 text-light opacity-50" href="{% url 'accounts:update' %}">사진 변경</a>
        {% endif %}         
      </div>
    </div>
    {% comment %} 팔로잉 수 {% endcomment %}
    <div class="col-2 text-center">
      <h2>{{ person.followings.all|length }}</h2>
      <h5 class="m-0">팔로잉</h5>
    </div>
    {% comment %} 팔로워 수 {% endcomment %}
    <div class="col-2 text-center">
      <h2>{{ person.followers.all|length }}</h2>
      <h5 class="m-0">팔로워</h5>
    </div>
    {% comment %} 좋아요한 글 수 {% endcomment %}
    <div class="col-2 text-center">
      <h2>{{ person.like_reviews.all|length}}</h2>
      <h5 class="m-0">좋아요한 글 수</h5>
    </div>
    {% comment %} 작성한 댓글 수 {% endcomment %}
    <div class="col-2 text-center">
      <h2>{{ person.comment_set.all|length }}</h2>
      <h5 class="m-0">작성한 댓글 수</h5>
    </div>

  </div>  
</div>
<hr>
{% comment %} 자기소개 {% endcomment %}
<h1 class="text-center mb-3">자기소개</h3>
<div class="row d-flex justify-content-center">
  <div id="card" class="bg-secondary rounded p-2 col-6 my-3 mx-3 rounded d-flex row">
    {% comment %} self introduce {% endcomment %}
    <div class="card-body p-3 col-12">
      <p id="text" class="card-text text-light">{{ person.self_introduce }}</p>
    </div>
    <hr>
    {% comment %} name {% endcomment %}
    <div class="col-4 my-3 d-flex justify-content-center">
      <p class="card-text text-light">이름 : {{ person.username }}</p>
    </div>
    {% comment %} gender {% endcomment %}
    <div class="col-4 my-3 d-flex justify-content-center">
      <p class="card-text text-light">성별 : {{ person.gender }}</p>
    </div>
    {% comment %} favorite {% endcomment %}
    <div class="col-4 my-3 d-flex justify-content-center">
      <span><p class="card-text text-light">최애 장르 : 
        {% if genre != 0 %}
          {{ genre.name }}
        {% else %}
          없음
        {% endif %}
      </p></span>
    </div>
  </div>
</div>
<hr>
{% comment %} 좋아하는 영화 {% endcomment %}
<div class="container">
  <h1 class="text-center">좋아하는 영화</h1>
  <div class="row justify-content-center">
    {% for pickedmovie in pickedmovies %}
      <div class="col-2 m_container align-items-center py-3 mx-2">
        <div class="container">
          <a href="{% url 'movies:detail' pickedmovie.movie_id %}">  
          <img src="https://image.tmdb.org/t/p/w500{{ pickedmovie.poster_path }}" alt="#" class="image m_img img-fluid rounded m-auto">
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<hr>
{% comment %} 영화 친구 신청 {% endcomment %}
{% if request.user == person %}
  <div class="container my-5">
    <h1 class="text-center my-3">영화 친구 신청</h1>
    {% comment %} 친구 신청이 있는 경우 {% endcomment %}
    {% if person.lovers.all %}
      {% for asked in person.lovers.all %}
        {% if person not in asked.lovers.all %}
          <div id="friend" class="border border-light row justify-content-center my-3 rounded p-2">
          {% if request.user == person %}
            <div class="col-5 d-flex align-items-center">
              {{ asked.username }} 님으로 부터 영화 신청이 왔습니다. 수락하시겠습니까?
            </div>
            <div class="d-flex justify-content-end align-items-center col-2 mx-0 px-0">
              <a class="btn btn-dark opacity-75" href="{% url 'accounts:profile' asked.username %}">프로필</a>
            </div>
            <form id="ask-forms" class="d-flex align-items-center col-2" data-user-id="{{ asked.pk }}">
              <input id="approve-{{ asked.pk }}" class="btn btn-dark opacity-75 border border-light mx-1" type="submit" value="수락">
              <input id="refuse-{{ asked.pk }}"  class="btn btn-dark opacity-75 border border-light" type="submit" value="거절">
            </form>
          {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    {% comment %} 친구 신청이 없는 경우 {% endcomment %}
    {% else %}
      <h6 class="text-center my-5">아직 친구 신청 목록이 없습니다.</h6>
    {% endif %}
  </div>
<hr>
{% endif %}
{% comment %} 매칭 성공 {% endcomment %}
{% if request.user == person %}
<h1 class="text-center my-3">매칭 성공 목록</h1>
<div class="container my-5">
  <div class="container">
    <div class="row">
      {% if person.lovers.all %}
      {% comment %} 매칭 성공/ 영화친구 요청 온 사람 {% endcomment %}
        {% for matched in person.lovers.all %}
          <div id="match_card-{{ matched.pk }}" class="col-4 my-3 d-flex justify-content-center d-none">
            <div data-match-id="{{ matched.pk }}" class="card match_card match_img" style="width: 18rem;">
              <img id="match_img" src="{{ matched.profile.image.url }}" class="card-img-top rounded img-fluid" alt="...">
              <div class="card-body row justify-content-center">
                <p class="text-center">{{ matched.username }}</p>
                <p class="card-text">성별 : {{ matched.gender }}</p>
                <p class="card-text">나이 : {{ matched.age }}</p>
                <p class="card-text">전화번호 : {{ matched.phone_number }}</p>
                <p class="card-text">이메일 : {{ matched.email }}</p>
                <div class="d-flex justify-content-center align-items-center col-12 mx-0 px-0">
                <a class="btn bg-light" href="{% url 'accounts:profile' matched.username %}">프로필 방문</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% comment %} 요청을 수락해 최종 매칭 된 경우 {% endcomment %}
        {% for matched in person.lovers.all %}
          {% if person in matched.lovers.all %}
          <div id="match_card-{{ matched.pk }}" class="col-4 my-3 d-flex justify-content-center">
            <div data-match-id="{{ matched.pk }}" class="card match_card" style="width: 18rem;">
              <img id="match_img" src="{{ matched.profile.image.url }}" class="card-img-top rounded" alt="...">
              <div class="card-body row justify-content-center">
                <p class="text-center">{{ matched.username }}</p>
                <p class="card-text">성별 : {{ matched.gender }}</p>
                <p class="card-text">나이 : {{ matched.age }}</p>
                <p class="card-text">전화번호 : {{ matched.phone_number }}</p>
                <p class="card-text">이메일 : {{ matched.email }}</p>
                <div class="d-flex justify-content-center align-items-center col-12 mx-0 px-0">
                <a class="btn bg-light" href="{% url 'accounts:profile' matched.username %}">프로필 방문</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% comment %} 매칭이 안된 경우 {% endcomment %}
      {% else %}
        <h6 class="text-center">아직 매칭 성공한 사람이 없습니다.</h6>
      {% endif %}
    </div>
  </div>
</div>
<hr>
{% endif %}
{% if request.user == person %}
<div class="container my-5">
  {% comment %} 영화 파트너 찾기 {% endcomment %}
  <h1 class="text-center my-3">영화 파트너 찾기</h1>
  <div class="m_container align-items-center py-3 mx-2">
    <div id="match" class="container">
      <div class="container">
        <div class="row">
            {% for matching in matchings %}
              {% if matching != request.user %}
                {% comment %} 매칭 안된 사람만 추천 {% endcomment %}
                {% if matching in person.lovers.all %}
                {% else %}
                <div class="col-4 my-3 d-flex justify-content-center">
                  <div id="partner_card" class="card" style="width: 18rem;">
                    <img id="match_img" src="{{ matching.profile.image.url }}" class="card-img-top rounded" alt="...">
                    <div class="card-body row justify-content-center my-3">
                      <p>이름 : {{ matching.username }}</p>
                      <p>성별 : {{ matching.gender }}</p>
                      <p>나이 : {{ matching.age }}</p>
                      <div>
                        <form id="love-forms" data-user-id="{{ matching.pk }}" class="d-flex justify-content-center">
                          {% csrf_token %}
                          {% if request.user in matching.lovers.all %}
                            <input id="love-{{ matching.pk }}" class="btn bg-light my-1 col-6" type="submit" value="수락 대기중">
                            <div class="d-flex justify-content-center align-items-center col-6 mx-0 px-0">
                              <a class="btn bg-light" href="{% url 'accounts:profile' matching.username %}">프로필 방문</a>
                            </div>
                          {% else %}
                            <input id="love-{{ matching.pk }}" class="btn bg-light my-1 col-6" type="submit" value="영화 신청 하기">
                            <div class="d-flex justify-content-center align-items-center col-6 mx-0 px-0">
                              <a class="btn bg-light" href="{% url 'accounts:profile' matching.username %}">프로필 방문</a>
                            </div>
                          {% endif %}
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% else %}
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
{% endif %}
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script> 
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const askForms = document.querySelectorAll('#ask-forms')

    {% comment %} 영화 친구 요청 비동기(수락/ 거절) {% endcomment %}
    askForms.forEach((askform) => {
      const userId = askform.dataset.userId
      const approve = document.querySelector(`#approve-${userId}`)
      const refuse = document.querySelector(`#refuse-${userId}`)
      const matched = document.querySelector(`#match_card-${userId}`)

      approve.addEventListener('click', function (event) {
        event.preventDefault()

        axios({
          method: 'post',
          url: `/accounts/${userId}/love/`,
          headers: {'X-CSRFToken': csrftoken,},
        })
        .then((response) => {
          approve.value = '수락됨'
          refuse.setAttribute('class', 'hide')
          matched.classList.remove('d-none')
        })
      })

      refuse.addEventListener('click', function (event) {
        event.preventDefault()

        axios({
          method: 'post',
          url: `/accounts/${userId}/refuse/`,
          headers: {'X-CSRFToken': csrftoken,},
        })
        .then((response) => {
          refuse.value = '거절됨'
          approve.setAttribute('class', 'hide')
        })
      })
    })
    {% comment %} 영화 친구 신청 비동기 {% endcomment %}
    const forms = document.querySelectorAll('#love-forms')

    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const userId = event.target.dataset.userId
        const mainId = event.target.dataset.mainId

        axios({
          method: 'post',
          url: `/accounts/${userId}/love/`,
          headers: {'X-CSRFToken': csrftoken,},
        })
        .then((response) => {
          const isLoved = response.data.is_loved
          const loveBtn = document.querySelector(`#love-${ userId }`)
          if (isLoved === true) {
            loveBtn.value = '수락 대기중'
          } else {
            loveBtn.value = '영화 신청 하기'
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
      })
    })
  </script>
{% endblock script %}