{% extends 'base.html' %}
{% load static %}

{% block style %}
  hr {
    height: 5px;
    background-color: white;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff;
  }

  img {
    border-radius: 10%;
  }
  {% comment %} .img {
    border-radius: 10%;
    border: solid 3px white;
    padding-top: 1rem;
  } {% endcomment %}
{% endblock style %}
{% block content %}
<br>
<div class="my-5 container">
  <h2 class="pt-3 text-center">{{ person.username }}님의 프로필</h2>
  <div class="row justify-content-center align-items-center my-5 pb-3">
    <div class="col-4 my-3 d-flex justify-content-center">
      <div class="row justify-content-center img">
        <img src="{{ person.profile.image.url }}" alt="">
        {% if request.user != person %}
          <div>
            <form action="{% url 'accounts:follow' person.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in person.followers.all %}
                <input class="offset-4 col-4 btn btn-secondary btn-sm my-3 text-light opacity-75" type="submit" value="Unfollow">
              {% else %}
                <input class="offset-4 col-4 btn btn-secondary btn-sm my-3 text-light opacity-75" type="submit" value="Follow">
              {% endif %}
            </form>
          </div>
        {% else %}
          <a id="btn" class="col-3 btn btn-secondary btn-sm my-3 text-light opacity-50" href="{% url 'accounts:update' %}">사진 변경</a>
        {% endif %}         
      </div>
    </div>
    {% comment %} <img src="{% static 'accounts/sample.png' %}" alt="">
    <img src="{% static 'sample2.png' %}" alt=""> {% endcomment %}
    <div class="col-2 text-center">
      <h2>{{ person.followings.all|length }}</h2>
      <h5 class="m-0">팔로잉</h5>
    </div>

    <div class="col-2 text-center">
      <h2>{{ person.followers.all|length }}</h2>
      <h5 class="m-0">팔로워</h5>
    </div>

    <div class="col-2 text-center">
      <h2>{{ person.like_reviews.all|length}}</h2>
      <h5 class="m-0">좋아요한 글 수</h5>
    </div>

    <div class="col-2 text-center">
      <h2>{{ person.comment_set.all|length }}</h2>
      <h5 class="m-0">작성한 댓글 수</h5>
    </div>

  </div>
  {% comment %} {{ person.profile.image.url }} {% endcomment %}
  
</div>

<div class="container">
  <h1 class="text-center">좋아하는 영화</h1>
  <div class="row justify-content-center">
    {% for pickedmovie in pickedmovies %}
      <div class="col-2 m_container align-items-center py-3 mx-2">
        <div class="container">
          <a href="{% url 'movies:detail' pickedmovie.movie_id %}">  
            <img src="https://image.tmdb.org/t/p/w500{{ pickedmovie.poster_path }}" alt="#" class="image img-fluid rounded m-auto">
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% comment %} <h1 class=">좋아요 누른 영화(가제)</h1>
<div id="tab">
  <ul>
    {% for pickedmovie in pickedmovies %}
      <li>         
        <a href="#">
          <img src="https://image.tmdb.org/t/p/w200{{ pickedmovie.poster_path }}" alt="">
        </a>
      </li>
    {% endfor %}
  </ul>
</div>  {% endcomment %}

{% comment %} <h2>{{ person.username }}'s 게시글</h2>
{% for article in person.article_set.all %}
  <div>{{ article.title }}</div>
{% endfor %} {% endcomment %}

<div class="container">
  <h1 class="text-center">유저 목록</h1>
  <div class="row justify-content-center">
    <div class="container">
      <div class="row">
        {% for asked in person.lovers.all %}
        <div class="col">
          {% if request.user == person %}
            <div>
              {{ asked.username }} 님으로 부터 영화 신청이 왔습니다. 수락하시겠습니까?
            </div>
            <div>
              수락
            </div>
            <div>
              거절
            </div>
            <div>
              프로필 가기
            </div>
            
            {% comment %} {{ person.lovers.all }} {% endcomment %}
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="container">
      <button id="matchBtn">영화 파트너 찾기</button>
      <div class="m_container align-items-center py-3 mx-2">
        <div id="match" class="container " style="display: none;">
          <div class="container">
            <div class="row">
              {% for matching in matchings %}
                {% if matching != request.user %}
                  <div class="col-6 my-3">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ matching.profile.image.url }}" class="card-img-top" alt="...">
                      <div class="card-body row justify-content-center">
                        <p class="text-center">{{ matching.username }}</p>
                        <p class="card-text">{{ matching.favorite }}자기 소개(이것저것) 내용 넣으면 좋을듯</p>
                        <div>
                          {% comment %} <form action="{% url 'accounts:love' person.pk %}" method="POST"> {% endcomment %}
                          <form id="love-forms" data-user-id="{{ matching.pk }}">
                            {% csrf_token %}
                            {% if request.user in matching.lovers.all %}
                              <input id="love-{{ matching.pk }}" type="submit" value="수락 대기중">
                            {% else %}
                              <input id="love-{{ matching.pk }}" type="submit" value="영화 신청 하기">
                            {% endif %}
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const matchBtn = document.querySelector('#matchBtn')
    const matchTag = document.querySelector('#match')

    matchBtn.addEventListener('click', function () {
      matchTag.setAttribute('style', 'display: block')
    })

    const forms = document.querySelectorAll('#love-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value


    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const userId = event.target.dataset.userId

        axios({
          method: 'post',
          url: `/accounts/${userId}/love/`,
          headers: {'X-CSRFToken': csrftoken,},
        })
        .then((response) => {
          const isLoved = response.data.is_loved
          const loveBtn = document.querySelector(`#love-${ userId }`)
          if (isLoved === true) {
            loveBtn.value = '수락 대기중'
          } else {
            loveBtn.value = '영화 신청 하기'
          }
          console.log(isLoved)
        })
        .catch((error) => {
          console.log(error.response)
        })
      })
    })
  </script>
{% endblock script %}

 {% comment %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const matchBtn = document.querySelector('#matchBtn')
  const matchTag = document.querySelector('#match')
  
  matchBtn.addEventListener('click', function () {
    matchTag.setAttribute('style', 'display: block')
  })
</script>
{% endblock script %}
{% endcomment %}