{% extends 'base.html' %}
{% load bootstrap5 %}
{% block style %}
  body {
    padding-top: 0px;
    margin-top: 3rem;
  }
  h2 {
    color: black;
  }
  form {
    color: black;
  }
  .gradient-custom {
    background: #6c7075;
    background: linear-gradient(to right, rgba(99, 129, 141, 1), rgba(142, 145, 148, 1));
    border: 0
  }
{% endblock style %}

{% block content %}
  <div class="mask ">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="fw-bold text-uppercase text-center mb-5">회원 수정</h2>
              <form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_form p_form %}
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-dark opacity-75 border border-light text-uppercase mx-3">변경</button>
                  <a class="btn btn-dark opacity-75 border border-light text-uppercase mx-3" href="{% url 'accounts:profile' user.username %}">취소</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}